/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.5;
  }
  
  /* Navigation styles */
  nav {
    background-color: #333;
    color: #fff;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem;
  }
  
  .nav li {
    margin-right: 1rem;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: #ccc;
  }
  
  .login-button {
    background-color: #ccc;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .login-button:hover {
    background-color: #ddd;
  }
  
  /* Container styles */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Form styles */
  .form-wrapper {
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    width: 300px;
  }
  
  .form-wrapper h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  form label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  form input[type="text"],
  form input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button[type="submit"]:hover {
    background-color: #555;
  }

/* Profile styles */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  width: 300px;
  margin: 5% auto;
}

.profile-info {
  margin-top: 20px;
  text-align: center;
}

.profile-info p {
  margin: 10px 0;
  font-size: 14px;
  color: #333;
}

a.profile-link {
  display: block;
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 200px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a.profile-link:hover {
  background-color: #ccc;
}




